@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-input-foreground: var(--input-foreground);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-shimmer: shimmer 2s linear infinite;
  @keyframes shimmer {
    100% {
      transform: translateX(200%);
    }
  }
}

:root {
  --radius: 0.625rem;

  --background: hsl(240 40% 98%);
  --foreground: hsl(240 10% 3.92%);

  /* rgb(248, 248, 252) */

  --muted: hsl(240 4.76% 95.88%);
  --muted-foreground: hsl(240 3.83% 46.08%);

  --primary: hsl(74.68 92.16% 60%);
  --primary-foreground: hsl(240 5.88% 10%);

  --secondary: hsl(240 4.76% 95.88%);
  --secondary-foreground: hsl(240 5.88% 10%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.92%);

  --input: hsl(0 0% 94.9%);
  --input-foreground: hsl(240 10% 3.92%);

  --accent: hsl(74.68 92.16% 60%);
  --accent-foreground: hsl(240 5.88% 10%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.92%);

  --border: hsl(240 5.88% 90%);

  --success: hsl(142 76% 36%);
  --success-foreground: hsl(355 100% 97%);

  --warning: hsl(38 92% 50%);
  --warning-foreground: hsl(48 96% 89%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --ring: hsl(74.68 92.16% 60%);

  --chart-1: hsl(74.68 92.16% 60%);
  --chart-2: hsl(142 71% 45%);
  --chart-3: hsl(216 92% 60%);
  --chart-4: hsl(210 98% 78%);
  --chart-5: hsl(212 97% 87%);

  --sidebar: hsl(0 0% 100%);
  --sidebar-foreground: hsl(240 10% 3.92%);
  --sidebar-primary: hsl(74.68 92.16% 60%);
  --sidebar-primary-foreground: hsl(74.68 92.16% 60%);
  --sidebar-accent: hsl(74.68 92.16% 60%);
  --sidebar-accent-foreground: hsl(240 10% 3.92%);
  --sidebar-border: hsl(0 0% 100%);
  --sidebar-ring: hsl(240 10% 3.92%);
}

.dark {
  --background: hsl(230 12% 7%);
  --foreground: hsl(0 0% 98%);

  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);

  --primary: hsl(74.68 92.16% 60%);
  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);

  --popover: hsl(230 12% 11%);
  --popover-foreground: hsl(0 0% 100%);

  --input: hsl(240 10% 15%);
  --input-foreground: hsl(0 0% 100%);

  --accent: hsl(74.68 92.16% 60%);
  --accent-foreground: hsl(230 12% 7%);

  --card: hsl(230 12% 11%);
  --card-foreground: hsl(0 0% 100%);

  --border: hsl(240 3.7% 15.9%);

  --success: hsl(142 76% 36%);
  --success-foreground: hsl(355 100% 97%);

  --warning: hsl(48 96% 89%);
  --warning-foreground: hsl(38 92% 50%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);

  --ring: hsl(74.68 92.16% 60%);

  --chart-1: hsl(74.68 92.16% 60%);
  --chart-2: hsl(142 71% 45%);
  --chart-3: hsl(216 92% 60%);
  --chart-4: hsl(210 98% 78%);
  --chart-5: hsl(212 97% 87%);

  --sidebar: hsl(230 12% 11%);
  --sidebar-foreground: hsl(0 0% 100%);
  --sidebar-primary: hsl(74.68 92.16% 60%);
  --sidebar-primary-foreground: hsl(74.68 92.16% 60%);
  --sidebar-accent: hsl(74.68 92.16% 60%);
  --sidebar-accent-foreground: hsl(230 12% 7%);
  --sidebar-border: hsl(230 12% 11%);
  --sidebar-ring: hsl(0 0% 100%);
}

@theme {
  --breakpoint-3xl: 120rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground overflow-y-hidden;
  }
}

.popover-content-width-same-as-its-trigger {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

h1 {
  @apply text-2xl font-semibold;
}

.day-range-start {
  @apply rounded-r-none;
}

.day-range-end {
  @apply rounded-l-none;
}

.day-range-start.day-range-end {
  @apply rounded-md;
}

@layer utilities {
  /* .stats-card-gradient::before {
    content: "";
    @apply absolute inset-0 z-10 bg-gradient-to-r from-transparent via-black to-transparent translate-x-[-100%];
  } */

  /* .stats-card:hover .stats-card-gradient::before {
    @apply animate-shimmer;
  } */
}

input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 10%;
  right: 5%;
}
