@import "tailwindcss";

.popover-content-width-same-as-its-trigger {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

h1 {
  @apply text-2xl font-semibold;
}

.day-range-start {
  @apply rounded-r-none;
}

.day-range-end {
  @apply rounded-l-none;
}

.day-range-start.day-range-end {
  @apply rounded-md;
}

@layer utilities {
  /* .stats-card-gradient::before {
    content: "";
    @apply absolute inset-0 z-10 bg-gradient-to-r from-transparent via-black to-transparent translate-x-[-100%];
  } */

  /* .stats-card:hover .stats-card-gradient::before {
    @apply animate-shimmer;
  } */
}

input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 10%;
  right: 5%;
}
